.DS_Store
Thumbs.db
*.log
.pnpm-*.log
*.pem
*.crt
/node_modules
node_modules
**/node_modules/**
.cache
.pnpm
.yarn
.npm
.pnpm/**/*
.yarn/**/*
.npm/**/*
.env
.env.*
.env.*.*
.env.me
!.env.project
!.env.sample
!.env.example
!.env.demo
!.env.*.sample
!.env.*.example
!.env.*.demo
/dist
dist
dist/**/*
/.next
.next
/_next
_next
/.svelte-kit
.svelte-kit
/.vercel_build_output
.vercel_build_output
/.vercel
.vercel
