dist
public/*
!public/*.webmanifest
!public/manifest.json
node_modules
license*
license.md
LICENSE*
LICENSE.md
.editorconfig
.vscode
.vscode/*
.vscode/**/*
.gitpod.yml
.github
.github/*
.github/**/*
pnpm-lock.ya?ml
.DS_Store
Thumbs.db
*.log
.pnpm-*.log
*.pem
*.crt
**/node_modules/**
.cache
.pnpm
.yarn
.npm
.pnpm/**/*
.yarn/**/*
.npm/**/*
.env
.env.*
.env.*.*
/.next
.next
/_next
_next
/.svelte-kit
.svelte-kit
/.vercel_build_output
.vercel_build_output
/.vercel
.vercel
