:root:not(.dark), .light, :root {
  --icns-background: #fff;
  --icns-foreground: #234;
  --body-gradient-from: #ffff;
  --body-gradient-to: #fff0;
  --icns-background-hero: #e7f0f0;
  --icns-foreground-hero: #59657c;
  --icns-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2359657c' fill-opacity='0.33'%3E%3Cpath opacity='0.45' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --icns-logo-shadow-hover: 0 0.3rem 0.1rem;
  --icns-logo-shadow: 0.3rem 2rem 1.2rem;
  --icns-logo-shadow-color: #11223322;
  --icns-logo-shadow-hover-color: #11223322;
  --icons-width: 5vw;
  --icons-opacity: 0.75;
  --icons-hover-opacity: 0.9;
  --icons-transition-duration: 0.75s;
  --icns-github-corner-fill: #234 !important;
  --icns-github-corner-color: #fff !important;
  --font-mono: 'MonoLisa', 'Operator Mono Lig', 'Operator Mono', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}
.dark:root, .dark, .dark-theme {
  --icns-background: #234f;
  --icns-foreground: #f0f0f0;
  --body-gradient-from: #234f;
  --body-gradient-to: #2340;
  --icns-background-hero: #59657c;
  --icns-foreground-hero: #e7f0f0;
  --icns-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e7f0f0' fill-opacity='0.25'%3E%3Cpath opacity='0.45' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  --icns-github-corner-fill: #e7f0f0 !important;
  --icns-github-corner-color: #223344 !important;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
}
html {
  background: var(--icns-background-hero, #e7f0f0) var(--icns-background-image) top left repeat fixed;
}
body:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 14vw 10vw var(--icns-background, #f0f0f0);
  z-index: -1;
  opacity: 1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--body-gradient-from) 0%,
    var(--body-gradient-to) 100%
  );
}
body {
  padding: 0 0 2rem 0;
  background: transparent !important;
}
body > .container {
  max-width: 70vw;
  margin: 2rem auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
code::before, code::after {
  content: '' !important;
}
pre, code, kbd {
  font-family: var(--font-mono, monospace) !important;
  font-weight: normal;
  font-style: regular;
}
.markdown-body {
  max-width: 90vw;
  margin: 1rem auto;
  background: transparent !important;
}
.container > div {
  margin: 1rem 0;
}
header {
  width: 100%;
  margin: 4rem 0 2rem 0;
  position: relative;
  display: grid;
  place-items: center;
  align-items: center;
}
header h1 {
  width: fit-content;
  margin: 2rem auto 1rem auto;
}
header h3 {
  font-size: 1rem !important;
  text-shadow: var(--shadow-small);
  color: var(--accents-8) !important;
  transition: text-shadow 0.4s ease-in-out;
  text-transform: lowercase !important;
  margin: 0;
  padding: 0;
}
header h3 a {
  color: inherit !important;
}
small.caps {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 0.95em;
}
header h3:hover {
  text-shadow: var(--shadow-medium);
}
  header h3 img {
    width: 1.2rem;
    height: 1.2rem;
    padding: 7px 8px 0 8px;
  }

header svg.logo {
  width: auto;
  min-width: 20vw;
  max-width: 30vw;
  filter: drop-shadow(var(--icns-logo-shadow-hover) var(--icns-logo-shadow-hover-color, #11223322));
  transition: all 1s ease-in-out;
}

h1:hover svg.logo,
h1 svg.logo:hover {
  filter: drop-shadow(var(--icns-logo-shadow) var(--icns-logo-shadow-color, #11223322));
}

.zi-card {
    margin: 2rem 0 !important; 
    box-shadow: var(--shadow-large), var(--shadow-small) !important;
    transition: box-shadow 0.5s ease-in-out;
}
.zi-card:hover {
  box-shadow: var(--shadow-medium), var(--shadow-small) !important;
}
.zi-dark {
  background: var(--accents-8) !important;
  color: var(--accents-1) !important;
  border-color: var(--accents-7) !important;
}
.footer.zi-dark, .footer.dark, footer.dark, .dark footer {
  color: var(--accents-1) !important;
}
.footer.zi-dark a, .footer.dark a, .dark footer a, footer.dark a {
  color: var(--accents-2) !important;
  text-decoration: none;
  font-weight: bold;
}
footer a img {
  opacity: 0.75;
  transition: opacity 0.3s ease-in;
  padding: 5px 8px 0 8px;
}
footer a:hover img, footer a img:hover {
  opacity: 1;
}
.url {
  border-radius: 8px;
  border: 2px solid var(--accents-2);
  background-color: var(--accents-1);
  font-style: italic;
  color: var(--icns-foreground);
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease-in;
  position: relative;
  overflow: hidden;
}
.url.success, .success .url {
  border-color: seagreen !important;
}
.url > span {
  font-size: 1.1rem;
}
.url > span:before {
  background: seagreen;
  content: '✔️ copied';
  color: white !important;
  display: block;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-shadow: 0 3px 6px #0002, 0 1px 1px #0003;
}
.success .url > .span:before, .url.success > span:before {
  opacity: 0.9;
}
a.github-corner {
  color: var(--icns-github-corner-color, #fff) !important;
  text-decoration: none !important;
}
.github-corner:hover .octo-arm {
  animation:octocat-wave 666ms ease-in-out;
}
@keyframes octocat-wave{
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-20deg)}
  40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation:octocat-wave 666ms ease-in-out}
}
